name: CI Tests

on:
  workflow_call:

jobs:
  lint_typecheck_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Cache uv dependencies
        uses: actions/cache@v5
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-uv-${{ hashFiles('pyproject.toml', 'uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-uv-
      - name: Install dependencies for example tests
        run: |
          uv sync

      - name: Check code formatting with ruff
        run: uv run ruff format --check .
      - name: Lint code with ruff
        run: uv run ruff check .
      - name: Type check with mypy
        run: uv run mypy blabot/

      - name: Run unit tests
        run: uv run pytest -v -s -m "unit" tests/

      - name: Run example usage
        run: |
          cd examples/
          uv run python example_usage.py

      - name: Run example pytests(easy)
        run: |
          cd examples/
          uv run pytest -v -s -m "simple_process_test and easy" tests/
      - name: Run example pytests(hard)
        run: |
          cd examples/
          uv run pytest -v -s -m "simple_process_test and hard" tests/

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Remove the previous docker container
        run: docker rm -f example_app || true

      # Build Docker image with cache
      - name: Build docker containers with cache
        uses: docker/build-push-action@v6
        with:
          context: .
          file: examples/Dockerfile
          load: true
          tags: ghcr.io/nunoya-yuma/blabot/example-app:latest
          cache-from: |
            type=registry,ref=ghcr.io/nunoya-yuma/blabot/example-app:cache-main

      - name: Run docker tests (from outside)
        working-directory: ./examples
        run: uv run pytest -v -s -m "docker_test" tests/

      - name: Run docker tests (from inside)
        working-directory: ./examples
        run: |
          docker compose run --rm example-app uv run pytest -v -s -m docker_inner_test tests/

      # Run device tests in container
      - name: Run serial device pytests
        working-directory: ./examples
        run: docker compose run --rm example-app bash scripts/run_device_test.sh

      # TODO: Investigate how to do testing on GitHub Actions regarding SSH.
