name: Deploy example docker image

on:
  workflow_dispatch:

  push:
    branches:
      - main
    paths:
      - blabot/**/*
      - examples/Dockerfile
      - examples/docker-compose.yaml
      - examples/example_app.py
      - pyproject.toml

permissions:
  packages: write
  contents: read

jobs:
  deploy_example_docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # Set up Docker Compose
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Determine the image tag
        id: determine_image_tag
        run: |
          COMMIT_HASH=$(git rev-parse --short HEAD)
          BASE_VERSION=0.1.0
          echo "IMAGE_TAG=${BASE_VERSION}-${COMMIT_HASH}" >> $GITHUB_ENV

      # Build using Docker Compose
      - name: Build the Docker image
        working-directory: ./examples
        run: |
          # Override the image tag in compose for versioned builds
          docker compose build
          docker tag ghcr.io/nunoya-yuma/blabot/example-app:latest ghcr.io/nunoya-yuma/blabot/example-app:$IMAGE_TAG

      # Push both tagged and latest images
      - name: Push the docker images
        run: |
          docker push ghcr.io/nunoya-yuma/blabot/example-app:$IMAGE_TAG
          docker push ghcr.io/nunoya-yuma/blabot/example-app:latest
