name: Deploy example docker image

on:
  workflow_dispatch:

  push:
    branches:
      - main
    paths:
      - blabot/**/*
      - examples/Dockerfile
      - examples/docker-compose.yaml
      - examples/example_app.py
      - pyproject.toml

permissions:
  packages: write
  contents: read

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.tags.outputs.tags }}
    steps:
      - uses: actions/checkout@v6

      - name: Generate Docker tags
        id: tags
        run: |
          COMMIT_HASH=$(git rev-parse --short HEAD)
          IMAGE=ghcr.io/nunoya-yuma/blabot/example-app
          echo "tags=${IMAGE}:dev,${IMAGE}:dev-${COMMIT_HASH}" >> $GITHUB_OUTPUT

  docker:
    needs: prepare
    uses: ./.github/workflows/docker-build.yaml
    with:
      tags: ${{ needs.prepare.outputs.tags }}
